
// Variables


$monitor: 1024px;
$lg-monitor : 1600px;


$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Crimson Pro', serif;


$fs-small: 1rem;
$fs-medium: 2rem;
$fs-large: 3rem;
$fs-Xlarge: 5rem;


$accent-color: #DA1F01;
$accent-color-mod: #cc1f01;
$primary-color: #012E59;
$primary-color-dark: #002344;
$primary-color-light: #3a6186;
$light-color: #FEFFFF;


