.openMenuH{
    animation: openMenuH .5s ease-in forwards;
}
.closeMenuH{
    animation: closeMenuH .5s ease-in forwards;
}

@keyframes openMenuH {
    0%{
        clip-path: polygon(0 51%, 100% 51%, 100% 51%, 0 51%);

    }
    100%{
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}
@keyframes closeMenuH {
    0%{
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }

    100%{
        clip-path: polygon(0 51%, 100% 51%, 100% 51%, 0 51%);
    }
}