html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
main{
    background-color: #D9D8DA;
}

header{
    background: var(--background);
}

footer{
    background: var(--background);
}

.btn-hamburger-menu{
    cursor: pointer;
    width: 4em;
}