.nacigation-bar__container-logo{
    align-items: center;
}
.navigation-bar__logo{
    /* width: 20rem;
    min-width: 15rem; */
    width: max(15rem, 20rem);
}

.navigation-bar{
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding-block: 1em;
}

.navigation-bar__menu{ 
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    text-align: center;
    background: var(--background);
    box-shadow: 8px 8px 16px black;
}
.navigation-bar__menu li{
    display: inline-block;
    width: 100%;
}
.menu__link{
    display: inline-block;
    padding: .5em;
    width: 100%;
    font-size: clamp(2rem,3vw,5rem);
    color: var(--font-main-color);
}