.perfil-container{
    text-align: center;
    align-items: center;
}
.perfil-container article{
    justify-content: center;
    align-items: center;
    align-content: space-between;

}
.perfil__title{
    margin-block: 1.2em;
}
.perfil__email{
    font-size: clamp(1.2rem,2vw,2rem);
}
.perfil-container img{
    width: 80%;
    max-width: 30rem;
}

.perfil__text{
    margin-block: 1em;
}