// .flex-row{
//     display: flex;
//     flex-direction: row;
// }
// .flex-column{
//     display: flex;
//     flex-direction: column;
// }
@mixin flex ($direction) {
    display: flex;
    flex-direction: $direction;
}

.flex-row{
   @include flex(row);
}
.flex-column{
   @include flex(column);
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.not-active{
    display: none;
}
.-isActive{
    display: block;
}