
:root{
    --main-color: #181C24;
    --main-color-gradient: rgba(24, 28, 36, 0.6);
    --background: linear-gradient(to right,var(--main-color), var(--main-color-gradient));

    --font-main-color: #f0f0f0;

}