:root {
  --main-color: #181C24;
  --main-color-gradient: rgba(24, 28, 36, 0.6);
  --background: linear-gradient(to right,var(--main-color), var(--main-color-gradient));
  --font-main-color: #f0f0f0; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.not-active {
  display: none; }

.-isActive {
  display: block; }

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh; }

main {
  background-color: #D9D8DA; }

header {
  background: var(--background); }

footer {
  background: var(--background); }

.btn-hamburger-menu {
  cursor: pointer;
  width: 4em; }

.nacigation-bar__container-logo {
  align-items: center; }

.navigation-bar__logo {
  /* width: 20rem;
    min-width: 15rem; */
  width: 20rem; }

.navigation-bar {
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding-block: 1em; }

.navigation-bar__menu {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  text-align: center;
  background: var(--background);
  box-shadow: 8px 8px 16px black; }
  .navigation-bar__menu li {
    display: inline-block;
    width: 100%; }

.menu__link {
  display: inline-block;
  padding: .5em;
  width: 100%;
  font-size: clamp(2rem, 3vw, 5rem);
  color: var(--font-main-color); }

.hero {
  height: 100%;
  justify-content: center;
  align-items: center; }

.hero__card {
  max-width: 800px;
  padding: 1em;
  margin-block: 2em;
  gap: 2em;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  box-shadow: 4px 4px 8px black; }

.card__welcome {
  justify-content: center;
  align-items: center; }

.card__title {
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: 700;
  margin-bottom: .5em;
  line-height: 1.4em; }

.card__text {
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-weight: 400;
  margin-bottom: .5em; }

.card__btn {
  margin-top: 1em;
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  width: 12em;
  padding: 0.8em;
  box-shadow: 4px 4px 8px black;
  color: white;
  background: var(--background);
  border: 1px solid black;
  border-radius: 8px; }

.card__img {
  overflow: hidden;
  justify-content: center; }

.footer-bar {
  color: var(--font-main-color);
  text-align: center;
  padding-block: .5em;
  gap: .5em; }

.footer-social {
  justify-content: space-around; }

.openMenuH {
  animation: openMenuH .5s ease-in forwards; }

.closeMenuH {
  animation: closeMenuH .5s ease-in forwards; }

@keyframes openMenuH {
  0% {
    clip-path: polygon(0 51%, 100% 51%, 100% 51%, 0 51%); }
  100% {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0); } }

@keyframes closeMenuH {
  0% {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0); }
  100% {
    clip-path: polygon(0 51%, 100% 51%, 100% 51%, 0 51%); } }

.hero__cardE {
  max-width: 800px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 4px 4px 8px black;
  margin-block: 1em;
  padding: .5em; }

.hero__card__title {
  font-size: clamp(1.5rem, 3vw, 3rem);
  text-align: left;
  border-bottom: 2px solid black; }

.hero__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em; }

.hero__container__card {
  margin-top: 2em;
  min-width: 10rem; }

.card__name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: .5em;
  max-height: 5rem;
  flex: 1;
  font-size: clamp(1.5rem, 1.2vw, 2rem);
  border-radius: 8px 8px 0 0;
  background: var(--background);
  color: var(--font-main-color); }

.card__imgE {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 8px 8px;
  flex: 2; }

.contact-contactInfo {
  text-align: center;
  margin-block: 1.8em; }

.form {
  display: inline-block;
  width: 100%;
  margin-block: 1.8em; }
  .form h2 {
    text-align: center; }
  .form label {
    border: 1px solid black;
    padding: .5em;
    font-weight: bold; }
  .form input {
    border: 1px solid black;
    padding: .5em; }
    .form input:last-child {
      display: inline-block;
      margin: 1em auto; }

.contact-map {
  align-items: center; }
  .contact-map iframe {
    width: 100%; }
  .contact-map button {
    cursor: pointer;
    margin: 1em auto; }

.perfil-container {
  text-align: center;
  align-items: center; }

.perfil-container article {
  justify-content: center;
  align-items: center;
  align-content: space-between; }

.perfil__title {
  margin-block: 1.2em; }

.perfil__email {
  font-size: clamp(1.2rem, 2vw, 2rem); }

.perfil-container img {
  width: 80%;
  max-width: 30rem; }

.perfil__text {
  margin-block: 1em; }

.publicaciones-container {
  text-align: center; }

.publicaciones-container h1 {
  margin-top: 1em;
  font-size: clamp(3rem, 2.5vw, 4rem); }

.publicaciones__card {
  margin-block: 2em;
  box-shadow: 4px 4px 8px black;
  border: 2px solid black;
  border-radius: 8px; }

.publicaciones__card__article {
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0 8px 8px 0;
  width: 100%; }

.publicaciones__card img {
  max-width: 100%;
  max-height: 50%;
  border-radius: 8px 0 0 8px; }

.publicaciones__title {
  padding: .5em;
  font-size: clamp(1.5rem, 1.5vw, 2.5rem); }

.publicaciones__text {
  font-size: clamp(1rem, 1vw, 1.5rem); }

.publicaciones__btn {
  display: inline-block;
  width: fit-content;
  color: white;
  margin: 1em;
  padding: 1em;
  font-size: clamp(1rem, 1vw, 1.5rem);
  background: var(--background);
  border-radius: 8px;
  box-shadow: 4px 4px 8px black; }

@media screen and (min-width: 800px) {
  /* .not-active{
        display: block;
    } */
  #hamburger-menuOpen {
    display: none; }
  #hamburger-menuOpen {
    display: none; }
  #hamburger-menuClose {
    display: none; }
  .navigation-bar {
    justify-content: space-between; }
  .navigation-bar__menu {
    position: static;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: none;
    background: none;
    gap: 1px;
    margin: 0; }
  .navigation-bar__menu li {
    display: inline-block;
    width: fit-content;
    margin-right: 1em; }
  .menu__link {
    display: inline-block;
    padding: .5em;
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    color: var(--font-main-color); }
  .menu__link:hover {
    text-decoration: underline;
    text-shadow: 8px 8px 8px black;
    text-decoration-thickness: 2px;
    font-size: clamp(0.9rem, 1.6vw, 2.1rem); }
  .footer-bar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .footer-info {
    justify-content: flex-start;
    align-items: flex-start; }
  .footer-social li {
    margin-right: 2em; }
  /*ESPECIALIDADES*/
  .hero__container {
    grid-template-columns: repeat(3, 1fr);
    padding: 3em; } }

@media screen and (min-width: 1024px) {
  .hero__card {
    flex-wrap: nowrap;
    max-width: 1200px; }
  .hero__img {
    flex-basis: 50%; }
  .perfil-container {
    text-align: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 3em; }
  .perfil-container article {
    justify-content: center;
    align-items: center;
    align-content: space-between; }
  .perfil__title {
    margin-block: 1em;
    font-size: clamp(1rem, 2vw, 3rem); }
  .perfil__text {
    margin-block: 1em;
    text-align: left; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
