
.hero-especialidades {
    margin-block: 2rem;
    text-align: center;
    

    & h1 {
        font-size: $fs-Xlarge;
        color: $primary-color-dark;
        margin-block: 2rem;
    }
}

.cards-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    

    &__card {
        align-self: flex-start;
        @include flex(column,center,strech);
        &__img-container {
            height: fit-content;
        }
        

        & h2 {
            background-color: $primary-color;
            color: $light-color;
            font-size: $fs-small;
            padding-block: 1rem;
        }

        & img {
            width: 100%;
            object-fit: fill;
        }
    }
}